header { 
	background-image: url(https://img0.etsystatic.com/039/0/5644885/il_fullxfull.569894628_3z9p.jpg);
	background-size: cover;
	background-color: $brand-c-backing;
	height: 100vh;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

